<!-- Header -->
<div class="relative bg-red-600 md:pt-32 pb-32 pt-12">
  <div class="px-4 md:px-10 mx-auto w-full">
    <div>
      <!-- Card stats -->
      <div class="flex flex-wrap">
        <!-- Status Geral -->
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="STATUS GERAL"
            [statTitle]="getOverallStatusText()"
            statArrow="up"
            [statPercent]="getOverallStatusPercent()"
            [statPercentColor]="getOverallStatusColor()"
            statDescripiron="Saúde da aplicação"
            statIconName="fas fa-heartbeat"
            statIconColor="bg-red-500"
          ></app-card-stats>
        </div>
        <!-- Tempo de Resposta -->
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="TEMPO RESPOSTA DB"
            [statTitle]="getDbResponseTime() + 'ms'"
            statArrow="down"
            [statPercent]="getDbResponsePercent()"
            [statPercentColor]="getDbResponseColor()"
            statDescripiron="Tempo de resposta"
            statIconName="fas fa-database"
            statIconColor="bg-orange-500"
          ></app-card-stats>
        </div>
        <!-- CPU -->
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="USO DE CPU"
            [statTitle]="getCpuUsage() + '%'"
            statArrow="down"
            [statPercent]="getCpuPercent()"
            [statPercentColor]="getCpuColor()"
            statDescripiron="Uso do processador"
            statIconName="fas fa-microchip"
            statIconColor="bg-pink-500"
          ></app-card-stats>
        </div>
        <!-- Memória -->
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <app-card-stats
            statSubtitle="USO DE MEMÓRIA"
            [statTitle]="getMemoryUsage() + '%'"
            statArrow="up"
            [statPercent]="getMemoryPercent()"
            [statPercentColor]="getMemoryColor()"
            statDescripiron="Uso da memória RAM"
            statIconName="fas fa-memory"
            statIconColor="bg-sky-500"
          ></app-card-stats>
        </div>
      </div>
    </div>
  </div>
</div>
