<div *ngIf="conteudo && getObjectKeys(conteudo).length > 1" class="z-50 w-6/12 fixed" style="margin-left:15%">
  <div class="relative w-auto mx-auto max-w-6xl">
    <!--content-->
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <!--header-->
      <div class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t">
        <h3 class="text-3xl font-semibold">
          Editar Registro
        </h3>
        <button class="p-1 ml-auto bg-transparent border-0 text-black float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="closeEditModal()">
          <span class="bg-transparent text-black h-6 w-6 text-2xl block outline-none focus:outline-none">
            ×
          </span>
        </button>
      </div>
      <!--body-->
      <div class="relative p-6 flex-auto ml-3 mr-3 overflow-y-auto" style="max-height: 60vh;">
        <form [formGroup]="conteudoForm">
          <div *ngFor="let key of getObjectKeys(conteudo)">
            <label class="ml-2 block text-gray-700 text-sm font-bold mb-2 mt-2">{{key}}</label>
            <ng-container *ngIf="key.toLowerCase() === 'setor' || key.toLowerCase() === 'tipo_registro' || key.toLowerCase() == 'ativo' || key.toLowerCase() == 'tipo_extensao'; else defaultInput">
              <select *ngIf="key.toLowerCase() === 'setor'" [formControlName]="key" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                <option value="Computação">Computação</option>
                <option value="Ata">Ata</option>
                <option value="Marketing">Marketing</option>
                <option value="Orientador">Orientador</option>
              </select>
              <select *ngIf="key.toLowerCase() === 'tipo_registro'" [formControlName]="key" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                <option value="planejamento">planejamento</option>
                <option value="relatorio">relatorio</option>
              </select>
              <select *ngIf="key.toLowerCase() == 'ativo'" [formControlName]="key" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                <option value="true">Ativa</option>
                <option value="false">Desativada</option>
              </select>
              <select *ngIf="key.toLowerCase() == 'tipo_extensao'" [formControlName]="key" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                <option value="Ensino para alem">Ensino para alem</option>
                <option value="Acoes Sociais">Acoes Sociais</option>
                <option value="Divulgacao Esclarecimento">Divulgacao Esclarecimento</option>
              </select>
            </ng-container>
            <ng-template #defaultInput>
              <input [formControlName]="key" 
                     class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" 
                     [type]="key.toLowerCase().includes('data') || key.toLowerCase().includes('ano_do_documento') ? 'date' : 'text'" 
                     [ngClass]="{'bg-gray-200 cursor-not-allowed opacity-50': key.toLowerCase() === 'id'}" />
            </ng-template>
          </div>
        </form>
      </div>
      <!--footer-->
      <div class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b">
        <button class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="closeEditModal()">
          Close
        </button>
        <button class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="saveChanges()">
          Save Changes
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="conteudo && getObjectKeys(conteudo).length > 1" class="bg-indigo-500 opacity-25 z-40 min-w-full min-h-full fixed"></div>