<nav
  class="top-0 absolute z-50 w-full flex flex-wrap items-center justify-between px-2 py-3 navbar-expand-lg"
>
  <div
    class="container px-4 mx-auto flex flex-wrap items-center justify-between"
  >
    <div
      class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start"
    >
      <a
        [routerLink]="['/landing']"
        class="text-white text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase"
      >
        <img src="https://pub-55adf5718cd045b9ac6ed9a8aca88510.r2.dev/ImagensPublicasSite/logo.png" alt="logo" title="logo" style="width: 90px;">
      </a>
      <button
        class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
        type="button"
        (click)="setNavbarOpen()"
      >
        <i class="text-white fas fa-bars"></i>
      </button>
    </div>
    <div
      class="lg:flex flex-grow items-center bg-white lg:bg-opacity-0 lg:shadow-none"
      [ngClass]="{ hidden: !navbarOpen, 'block rounded shadow-lg': navbarOpen }"
      id="example-navbar-warning"
    >
      <ul class="flex flex-col lg:flex-row list-none mr-auto">
        <li class="flex items-center">
          <a
            class="lg:text-white lg:hover:text-slate-200 text-slate-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
            [routerLink]="['/noticias']"
          >
            Notícias
          </a>
        </li>
        <li class="flex items-center">
          <a
            class="lg:text-white lg:hover:text-slate-200 text-slate-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
            [routerLink]="['/sobre']"
          >
            Entenda o PET
          </a>
        </li>
        <li class="flex items-center">
          <a
            class="lg:text-white lg:hover:text-slate-200 text-slate-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
            [routerLink]="['/processoSeletivo']"
          >
            Processo Seletivo
          </a>
        </li>
        <li class="flex items-center">
          <atividades-dropdown class="block"></atividades-dropdown>
        </li>
        <li class="flex items-center">
          <button
            class="lg:text-white lg:hover:text-slate-200 text-slate-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
            (click)="openDialog()"
          >
            Certificados
        </button>
        </li>
        <li class="flex items-center">
          <a
            class="lg:text-white lg:hover:text-slate-200 text-slate-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
            href="https://sites.google.com/view/jorneq?fbclid=PAZXh0bgNhZW0CMTEAAaYnvMsk_-tVYtehiVUda5ZPmLD-VaTqLfS5sHVL-y4XKJDy-QijG2boyzw_aem_ifVM6NXQZZnb0ooo48Vn2w"
          >
            Jorneq
          </a>
        </li>
      </ul>
      <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
        <!-- <li class="flex items-center">
          <app-pages-dropdown class="block"></app-pages-dropdown>
        </li> -->

        <li class="flex items-center">
          <a
            class="lg:text-white lg:hover:text-slate-200 text-slate-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
            href="https://www.instagram.com/ufupeteq/"
            target="_blank"
          >
            <i
              class="lg:text-slate-200 text-slate-400 fab fa-instagram text-lg leading-lg"
            ></i>
            <span class="lg:hidden inline-block ml-2">Instagram</span>
          </a>
        </li>
        <li class="flex items-center">
          <a
            class="lg:text-white lg:hover:text-slate-200 text-slate-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
            href="https://www.youtube.com/c/PETEngenhariaQuímicaUFU"
            target="_blank"
          >
            <i
              class="lg:text-slate-200 text-slate-400 fab fa-youtube text-lg leading-lg"
            ></i>
            <span class="lg:hidden inline-block ml-2">Youtube</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
