<footer class="relative bg-slate-200 pt-8 pb-6">
  <div
    class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
    style="transform: translateZ(0)"
  >
    <svg
      class="absolute bottom-0 overflow-hidden"
      xmlns="http://www.w3.org/2000/svg"
      preserveAspectRatio="none"
      version="1.1"
      viewBox="0 0 2560 100"
      x="0"
      y="0"
    >
      <polygon
        class="text-slate-200 fill-current"
        points="2560 0 2560 100 0 100"
      ></polygon>
    </svg>
  </div>
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap text-center lg:text-left">
      <div class="w-full lg:w-6/12 px-4">
        <h4 class="text-3xl font-semibold">Venha nos encontrar!</h4>
        <br>
        <div *ngIf = "telefone == true">
          <h5 class="text-lg mt-0 mb-2 text-slate-600">Universidade Federal de Uberlândia</h5>
          <h5 class="text-lg mt-0 mb-2 text-slate-600">Av. João Naves de Ávila, 2121</h5>
          <h5 class="text-lg mt-0 mb-2 text-slate-600">Sala 242 – Bloco 1A</h5>
          <h5 class="text-lg mt-0 mb-2 text-slate-600">Uberlândia - MG</h5>
          <h5 class="text-lg mt-0 mb-2 text-slate-600">Telefone: (34) 3291-5907</h5>
        </div>
        <div *ngIf = "telefone == false">
          <h5 class="text-lg mt-0 mb-2 text-slate-600">Universidade Federal de Uberlândia</h5>
          <h5 class="text-lg mt-0 mb-2 text-slate-600">Av. João Naves de Ávila, 2121 - Sala 242 – Bloco 1A</h5>
          <h5 class="text-lg mt-0 mb-2 text-slate-600">Uberlândia - MG</h5>
          <h5 class="text-lg mt-0 mb-2 text-slate-600">Telefone: (34) 3291-5907</h5>  
        </div>        
        <div class="mt-6 lg:mb-0 mb-6">
          <a href="https://www.instagram.com/ufupeteq/" target="_blank" rel="noopener noreferrer">
            <button
              class="bg-white text-pink-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
              type="button"
            >
              <i class="fab fa-instagram"></i>
            </button>
          </a>
          <a href="https://www.youtube.com/c/PETEngenhariaQuímicaUFU" target="_blank" rel="noopener noreferrer">
            <button
              class="bg-white text-slate-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
              type="button"
            >
              <i class="fab fa-youtube"></i>
            </button>
          </a>
        </div>
      </div>
      <div class="w-full lg:w-6/12 px-4">
        <div class="flex flex-wrap items-top mb-6">
          <div class="w-full lg:w-4/12 px-4 ml-auto">
            <span
              class="block uppercase text-slate-500 text-sm font-semibold mb-2"
            >
              Links Úteis
            </span>
            <ul class="list-unstyled">
              <li>
                <a
                  class="text-slate-600 hover:text-slate-800 font-semibold block pb-2 text-sm"
                  [routerLink]="['/sobre']"
                >
                  Sobre
                </a>
              </li>
              <li>
                <a
                  class="text-slate-600 hover:text-slate-800 font-semibold block pb-2 text-sm"
                  [routerLink]="['/processoSeletivo']"
                >
                  Processo Seletivo
                </a>
              </li>
              <li>
                <button
                  class="text-slate-600 hover:text-slate-800 font-semibold block pb-2 text-sm"
                  (click)="openDialog()"
                >
                  Certificados
              </button>
              </li>
              <li>
                <a
                  class="text-slate-600 hover:text-slate-800 font-semibold block pb-2 text-sm"
                  href="https://sites.google.com/view/jorneq?fbclid=PAZXh0bgNhZW0CMTEAAaYnvMsk_-tVYtehiVUda5ZPmLD-VaTqLfS5sHVL-y4XKJDy-QijG2boyzw_aem_ifVM6NXQZZnb0ooo48Vn2w"
                >
                  Jorneq
                </a>
              </li>
            </ul>
          </div>
          <!-- <div class="w-full lg:w-4/12 px-4">
            <span
              class="block uppercase text-slate-500 text-sm font-semibold mb-2"
            >
              Other Resources
            </span>
            <ul class="list-unstyled">
              <li>
                <a
                  class="text-slate-600 hover:text-slate-800 font-semibold block pb-2 text-sm"
                  href="https://github.com/creativetimofficial/notus-angular/blob/main/LICENSE.md?ref=creativetim"
                >
                  MIT License
                </a>
              </li>
              <li>
                <a
                  class="text-slate-600 hover:text-slate-800 font-semibold block pb-2 text-sm"
                  href="https://creative-tim.com/terms?ref=na-footer"
                >
                  Terms & Conditions
                </a>
              </li>
              <li>
                <a
                  class="text-slate-600 hover:text-slate-800 font-semibold block pb-2 text-sm"
                  href="https://creative-tim.com/privacy?ref=na-footer"
                >
                  Privacy Policy
                </a>
              </li>
              <li>
                <a
                  class="text-slate-600 hover:text-slate-800 font-semibold block pb-2 text-sm"
                  href="https://creative-tim.com/contact-us?ref=na-footer"
                >
                  Contact Us
                </a>
              </li>
            </ul>
          </div> -->
        </div>
      </div>
    </div>
    <!-- <hr class="my-6 border-slate-300" /> -->
    <!-- <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-4/12 px-4 mx-auto text-center">
        <div class="text-sm text-slate-500 font-semibold py-1">
          Copyright © {{ date }} Notus Angular by
          <a
            href="https://www.creative-tim.com?ref=na-footer"
            class="text-slate-500 hover:text-slate-800"
          >
            Creative Tim
          </a>
          .
        </div>
      </div>
    </div> -->
  </div>
</footer>
