<h1 class="text-center font-semibold text-5xl mt-10" mat-dialog-title>Escolha seu Certificado</h1>
<mat-dialog-content class="mat-typography">
  <p class="mt-2 mb-4">
    A UFU está migrando para um modelo de certificado unificado, onde todas as atividades atreladas à UFU podem fornecer os certificados em uma única página. Não é legal?
  </p>
  <p class="mt-2 mb-4">
    Para garantir que você não perca seus certificados antes da unificação, escolha uma das opções abaixo para obter um certificado anterior ou mais recente.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="navigateTo('https://certifica.prograd.ufu.br/?fbclid=PAZXh0bgNhZW0CMTEAAaYzVJW2DYAzX97VNXTEJBUp3R4NgoiDV_-Yu4q4gdeJG8EOmKWzCdvXA5A_aem_OlwMqVXh6ubWx6ahLXAoOA')" cdkFocusInitial>Certificado Atual</button>
  <button mat-button (click)="navigateTo('https://drive.google.com/drive/folders/1DJalcWFrYqGEQxTUck-e4gQq_uV4fKyq')">Certificado Antigo</button>
  <button mat-button mat-dialog-close [ngStyle]="{'color': 'red'}">Fechar</button>
</mat-dialog-actions>