<div *ngIf="vertical">
  <mat-vertical-stepper>
    <div *ngFor="let i of dataAtividade; let index = index">
      <mat-step [label]="i.nome" step="atividade">
        <ng-template matStepperIcon="edit">
          <mat-icon>edit</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="done">
          <mat-icon>done</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="number">
          <mat-icon>{{ index + 1 }}</mat-icon>
        </ng-template>
        <p class="text-xs text-right leading-relaxed text-blueGray-500">{{i.data}} - {{i.local}}</p>
        <p class="text-base leading-relaxed text-blueGray-500">{{i.instrucoes}}</p>
      </mat-step>
    </div>
  </mat-vertical-stepper>
</div> 
<div *ngIf="vertical == false">
  <mat-horizontal-stepper>
    <div *ngFor="let i of dataAtividade; let index = index">
      <mat-step [label]="i.nome" step="atividade">
        <ng-template matStepperIcon="edit">
          <mat-icon>edit</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="done">
          <mat-icon>done</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="number">
          <mat-icon>{{ index + 1 }}</mat-icon>
        </ng-template>
        <p class="text-xs text-right leading-relaxed text-blueGray-500">{{i.data}} - {{i.local}}</p>
        <p class="text-base leading-relaxed text-blueGray-500">{{i.instrucoes}}</p>
      </mat-step>
    </div>
  </mat-horizontal-stepper>
</div>