::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: #10b981; 
 }
 ::ng-deep .mat-step-header .mat-step-icon-state-chat {
    background-color: rgba(0, 0, 0, 0.54);
 }
 ::ng-deep .mat-step-header .mat-step-icon-state-done {
    background-color: rgba(0, 0, 0, 0.54); 
 }